PrepDataset/Mocap_cvpr/MixedTrajectory_Trial1_K1.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial1_K2.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial1_K3.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial1_K5.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial1_K6.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial1_K7.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial1_K8.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial1_K9.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial2_K1.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial2_K2.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial2_K3.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial2_K5.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial2_K6.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial2_K7.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial2_K8.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial2_K9.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial3_K1.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial3_K2.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial3_K3.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial3_K5.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial3_K6.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial3_K7.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial3_K8.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial3_K9.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial4_K1.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial4_K2.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial4_K3.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial4_K5.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial4_K6.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial4_K7.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial4_K8.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial4_K9.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial5_K1.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial5_K2.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial5_K3.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial5_K5.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial5_K6.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial5_K7.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial5_K8.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial5_K9.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial6_K1.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial6_K2.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial6_K3.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial6_K5.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial6_K6.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial6_K7.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial6_K8.npy
PrepDataset/Mocap_cvpr/MixedTrajectory_Trial6_K9.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial1_K1.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial1_K2.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial1_K3.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial1_K5.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial1_K6.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial1_K7.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial1_K8.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial1_K9.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial2_K1.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial2_K2.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial2_K3.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial2_K5.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial2_K6.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial2_K7.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial2_K8.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial2_K9.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial3_K1.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial3_K2.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial3_K3.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial3_K5.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial3_K6.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial3_K7.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial3_K8.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial3_K9.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial4_K1.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial4_K2.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial4_K3.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial4_K5.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial4_K6.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial4_K7.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial4_K8.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial4_K9.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial5_K1.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial5_K2.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial5_K3.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial5_K5.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial5_K6.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial5_K7.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial5_K8.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial5_K9.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial6_K1.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial6_K2.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial6_K3.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial6_K5.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial6_K6.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial6_K7.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial6_K8.npy
PrepDataset/Mocap_cvpr_og/MixedTrajectory_Trial6_K9.npy
PrepDataset/Mocap_cvpr_og/motioncapture_unity.json
PrepDataset/Mocap_cvpr_og_sep/K1/MixedTrajectory_Trial1_K1.npy
PrepDataset/Mocap_cvpr_og_sep/K1/MixedTrajectory_Trial2_K1.npy
PrepDataset/Mocap_cvpr_og_sep/K1/MixedTrajectory_Trial3_K1.npy
PrepDataset/Mocap_cvpr_og_sep/K1/MixedTrajectory_Trial4_K1.npy
PrepDataset/Mocap_cvpr_og_sep/K1/MixedTrajectory_Trial5_K1.npy
PrepDataset/Mocap_cvpr_og_sep/K1/MixedTrajectory_Trial6_K1.npy
PrepDataset/Mocap_cvpr_og_sep/K2/MixedTrajectory_Trial1_K2.npy
PrepDataset/Mocap_cvpr_og_sep/K2/MixedTrajectory_Trial2_K2.npy
PrepDataset/Mocap_cvpr_og_sep/K2/MixedTrajectory_Trial3_K2.npy
PrepDataset/Mocap_cvpr_og_sep/K2/MixedTrajectory_Trial4_K2.npy
PrepDataset/Mocap_cvpr_og_sep/K2/MixedTrajectory_Trial5_K2.npy
PrepDataset/Mocap_cvpr_og_sep/K2/MixedTrajectory_Trial6_K2.npy
PrepDataset/Mocap_cvpr_og_sep/K3/MixedTrajectory_Trial1_K3.npy
PrepDataset/Mocap_cvpr_og_sep/K3/MixedTrajectory_Trial2_K3.npy
PrepDataset/Mocap_cvpr_og_sep/K3/MixedTrajectory_Trial3_K3.npy
PrepDataset/Mocap_cvpr_og_sep/K3/MixedTrajectory_Trial4_K3.npy
PrepDataset/Mocap_cvpr_og_sep/K3/MixedTrajectory_Trial5_K3.npy
PrepDataset/Mocap_cvpr_og_sep/K3/MixedTrajectory_Trial6_K3.npy
PrepDataset/Mocap_cvpr_og_sep/K5/MixedTrajectory_Trial1_K5.npy
PrepDataset/Mocap_cvpr_og_sep/K5/MixedTrajectory_Trial2_K5.npy
PrepDataset/Mocap_cvpr_og_sep/K5/MixedTrajectory_Trial3_K5.npy
PrepDataset/Mocap_cvpr_og_sep/K5/MixedTrajectory_Trial4_K5.npy
PrepDataset/Mocap_cvpr_og_sep/K5/MixedTrajectory_Trial5_K5.npy
PrepDataset/Mocap_cvpr_og_sep/K5/MixedTrajectory_Trial6_K5.npy
PrepDataset/Mocap_cvpr_og_sep/K6/MixedTrajectory_Trial1_K6.npy
PrepDataset/Mocap_cvpr_og_sep/K6/MixedTrajectory_Trial2_K6.npy
PrepDataset/Mocap_cvpr_og_sep/K6/MixedTrajectory_Trial3_K6.npy
PrepDataset/Mocap_cvpr_og_sep/K6/MixedTrajectory_Trial4_K6.npy
PrepDataset/Mocap_cvpr_og_sep/K6/MixedTrajectory_Trial5_K6.npy
PrepDataset/Mocap_cvpr_og_sep/K6/MixedTrajectory_Trial6_K6.npy
PrepDataset/Mocap_cvpr_og_sep/K7/MixedTrajectory_Trial1_K7.npy
PrepDataset/Mocap_cvpr_og_sep/K7/MixedTrajectory_Trial2_K7.npy
PrepDataset/Mocap_cvpr_og_sep/K7/MixedTrajectory_Trial3_K7.npy
PrepDataset/Mocap_cvpr_og_sep/K7/MixedTrajectory_Trial4_K7.npy
PrepDataset/Mocap_cvpr_og_sep/K7/MixedTrajectory_Trial5_K7.npy
PrepDataset/Mocap_cvpr_og_sep/K7/MixedTrajectory_Trial6_K7.npy
PrepDataset/Mocap_cvpr_og_sep/K8/MixedTrajectory_Trial1_K8.npy
PrepDataset/Mocap_cvpr_og_sep/K8/MixedTrajectory_Trial2_K8.npy
PrepDataset/Mocap_cvpr_og_sep/K8/MixedTrajectory_Trial3_K8.npy
PrepDataset/Mocap_cvpr_og_sep/K8/MixedTrajectory_Trial4_K8.npy
PrepDataset/Mocap_cvpr_og_sep/K8/MixedTrajectory_Trial5_K8.npy
PrepDataset/Mocap_cvpr_og_sep/K8/MixedTrajectory_Trial6_K8.npy
PrepDataset/Mocap_cvpr_og_sep/K9/MixedTrajectory_Trial1_K9.npy
PrepDataset/Mocap_cvpr_og_sep/K9/MixedTrajectory_Trial2_K9.npy
PrepDataset/Mocap_cvpr_og_sep/K9/MixedTrajectory_Trial3_K9.npy
PrepDataset/Mocap_cvpr_og_sep/K9/MixedTrajectory_Trial4_K9.npy
PrepDataset/Mocap_cvpr_og_sep/K9/MixedTrajectory_Trial5_K9.npy
PrepDataset/Mocap_cvpr_og_sep/K9/MixedTrajectory_Trial6_K9.npy
PrepDataset/Mocap_real/Trial1/MixedTrajectory_Trial1_K1.npy
PrepDataset/Mocap_real/Trial1/MixedTrajectory_Trial1_K2.npy
PrepDataset/Mocap_real/Trial1/MixedTrajectory_Trial1_K3.npy
PrepDataset/Mocap_real/Trial1/MixedTrajectory_Trial1_K5.npy
PrepDataset/Mocap_real/Trial1/MixedTrajectory_Trial1_K6.npy
PrepDataset/Mocap_real/Trial1/MixedTrajectory_Trial1_K7.npy
PrepDataset/Mocap_real/Trial1/MixedTrajectory_Trial1_K8.npy
PrepDataset/Mocap_real/Trial1/MixedTrajectory_Trial1_K9.npy
PrepDataset/Mocap_real/Trial2/MixedTrajectory_Trial2_K1.npy
PrepDataset/Mocap_real/Trial2/MixedTrajectory_Trial2_K2.npy
PrepDataset/Mocap_real/Trial2/MixedTrajectory_Trial2_K3.npy
PrepDataset/Mocap_real/Trial2/MixedTrajectory_Trial2_K5.npy
PrepDataset/Mocap_real/Trial2/MixedTrajectory_Trial2_K6.npy
PrepDataset/Mocap_real/Trial2/MixedTrajectory_Trial2_K7.npy
PrepDataset/Mocap_real/Trial2/MixedTrajectory_Trial2_K8.npy
PrepDataset/Mocap_real/Trial2/MixedTrajectory_Trial2_K9.npy
PrepDataset/Mocap_real/Trial3/MixedTrajectory_Trial3_K1.npy
PrepDataset/Mocap_real/Trial3/MixedTrajectory_Trial3_K2.npy
PrepDataset/Mocap_real/Trial3/MixedTrajectory_Trial3_K3.npy
PrepDataset/Mocap_real/Trial3/MixedTrajectory_Trial3_K5.npy
PrepDataset/Mocap_real/Trial3/MixedTrajectory_Trial3_K6.npy
PrepDataset/Mocap_real/Trial3/MixedTrajectory_Trial3_K7.npy
PrepDataset/Mocap_real/Trial3/MixedTrajectory_Trial3_K8.npy
PrepDataset/Mocap_real/Trial3/MixedTrajectory_Trial3_K9.npy
PrepDataset/Mocap_real/Trial4/MixedTrajectory_Trial4_K1.npy
PrepDataset/Mocap_real/Trial4/MixedTrajectory_Trial4_K2.npy
PrepDataset/Mocap_real/Trial4/MixedTrajectory_Trial4_K3.npy
PrepDataset/Mocap_real/Trial4/MixedTrajectory_Trial4_K5.npy
PrepDataset/Mocap_real/Trial4/MixedTrajectory_Trial4_K6.npy
PrepDataset/Mocap_real/Trial4/MixedTrajectory_Trial4_K7.npy
PrepDataset/Mocap_real/Trial4/MixedTrajectory_Trial4_K8.npy
PrepDataset/Mocap_real/Trial4/MixedTrajectory_Trial4_K9.npy
PrepDataset/Mocap_real/Trial5/MixedTrajectory_Trial5_K1.npy
PrepDataset/Mocap_real/Trial5/MixedTrajectory_Trial5_K2.npy
PrepDataset/Mocap_real/Trial5/MixedTrajectory_Trial5_K3.npy
PrepDataset/Mocap_real/Trial5/MixedTrajectory_Trial5_K5.npy
PrepDataset/Mocap_real/Trial5/MixedTrajectory_Trial5_K6.npy
PrepDataset/Mocap_real/Trial5/MixedTrajectory_Trial5_K7.npy
PrepDataset/Mocap_real/Trial5/MixedTrajectory_Trial5_K8.npy
PrepDataset/Mocap_real/Trial5/MixedTrajectory_Trial5_K9.npy
PrepDataset/Mocap_real/Trial6/MixedTrajectory_Trial6_K1.npy
PrepDataset/Mocap_real/Trial6/MixedTrajectory_Trial6_K2.npy
PrepDataset/Mocap_real/Trial6/MixedTrajectory_Trial6_K3.npy
PrepDataset/Mocap_real/Trial6/MixedTrajectory_Trial6_K5.npy
PrepDataset/Mocap_real/Trial6/MixedTrajectory_Trial6_K6.npy
PrepDataset/Mocap_real/Trial6/MixedTrajectory_Trial6_K7.npy
PrepDataset/Mocap_real/Trial6/MixedTrajectory_Trial6_K8.npy
PrepDataset/Mocap_real/Trial6/MixedTrajectory_Trial6_K9.npy
PrepDataset/test/MixedTrajectory_Trial1.npy
PrepDataset/test/MixedTrajectory_Trial2.npy
PrepDataset/test/MixedTrajectory_Trial3.npy
PrepDataset/test/MixedTrajectory_Trial4.npy
PrepDataset/test/MixedTrajectory_Trial5.npy
PrepDataset/test/MixedTrajectory_Trial6.npy
PrepDataset/test2/MixedTrajectory_Trial1.npy
PrepDataset/test2/MixedTrajectory_Trial2.npy
PrepDataset/test2/MixedTrajectory_Trial3.npy
PrepDataset/test2/MixedTrajectory_Trial4.npy
PrepDataset/test2/MixedTrajectory_Trial5.npy
PrepDataset/test2/MixedTrajectory_Trial6.npy
Mocap_real/Trial1/MixedTrajectory_Trial1_K1.npy
Mocap_real/Trial1/MixedTrajectory_Trial1_K2.npy
Mocap_real/Trial1/MixedTrajectory_Trial1_K3.npy
Mocap_real/Trial1/MixedTrajectory_Trial1_K5.npy
Mocap_real/Trial1/MixedTrajectory_Trial1_K6.npy
Mocap_real/Trial1/MixedTrajectory_Trial1_K7.npy
Mocap_real/Trial1/MixedTrajectory_Trial1_K8.npy
Mocap_real/Trial1/MixedTrajectory_Trial1_K9.npy
Mocap_real/Trial2/MixedTrajectory_Trial2_K1.npy
Mocap_real/Trial2/MixedTrajectory_Trial2_K2.npy
Mocap_real/Trial2/MixedTrajectory_Trial2_K3.npy
Mocap_real/Trial2/MixedTrajectory_Trial2_K5.npy
Mocap_real/Trial2/MixedTrajectory_Trial2_K6.npy
Mocap_real/Trial2/MixedTrajectory_Trial2_K7.npy
Mocap_real/Trial2/MixedTrajectory_Trial2_K8.npy
Mocap_real/Trial2/MixedTrajectory_Trial2_K9.npy
Mocap_real/Trial3/MixedTrajectory_Trial3_K1.npy
Mocap_real/Trial3/MixedTrajectory_Trial3_K2.npy
Mocap_real/Trial3/MixedTrajectory_Trial3_K3.npy
Mocap_real/Trial3/MixedTrajectory_Trial3_K5.npy
Mocap_real/Trial3/MixedTrajectory_Trial3_K6.npy
Mocap_real/Trial3/MixedTrajectory_Trial3_K7.npy
Mocap_real/Trial3/MixedTrajectory_Trial3_K8.npy
Mocap_real/Trial3/MixedTrajectory_Trial3_K9.npy
Mocap_real/Trial4/MixedTrajectory_Trial4_K1.npy
Mocap_real/Trial4/MixedTrajectory_Trial4_K2.npy
Mocap_real/Trial4/MixedTrajectory_Trial4_K3.npy
Mocap_real/Trial4/MixedTrajectory_Trial4_K5.npy
Mocap_real/Trial4/MixedTrajectory_Trial4_K6.npy
Mocap_real/Trial4/MixedTrajectory_Trial4_K7.npy
Mocap_real/Trial4/MixedTrajectory_Trial4_K8.npy
Mocap_real/Trial4/MixedTrajectory_Trial4_K9.npy
Mocap_real/Trial5/MixedTrajectory_Trial5_K1.npy
Mocap_real/Trial5/MixedTrajectory_Trial5_K2.npy
Mocap_real/Trial5/MixedTrajectory_Trial5_K3.npy
Mocap_real/Trial5/MixedTrajectory_Trial5_K5.npy
Mocap_real/Trial5/MixedTrajectory_Trial5_K6.npy
Mocap_real/Trial5/MixedTrajectory_Trial5_K7.npy
Mocap_real/Trial5/MixedTrajectory_Trial5_K8.npy
Mocap_real/Trial5/MixedTrajectory_Trial5_K9.npy
Mocap_real/Trial6/MixedTrajectory_Trial6_K1.npy
Mocap_real/Trial6/MixedTrajectory_Trial6_K2.npy
Mocap_real/Trial6/MixedTrajectory_Trial6_K3.npy
Mocap_real/Trial6/MixedTrajectory_Trial6_K5.npy
Mocap_real/Trial6/MixedTrajectory_Trial6_K6.npy
Mocap_real/Trial6/MixedTrajectory_Trial6_K7.npy
Mocap_real/Trial6/MixedTrajectory_Trial6_K8.npy
Mocap_real/Trial6/MixedTrajectory_Trial6_K9.npy
